body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #212736;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

#banner {
    font-size: 24px;
    margin-bottom: 10px;
}
